.nav{
	background-color: white;
	font-size: 125%;
	font-family: arial;
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    text-align:center;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:15px;
}

body {
	background-color: lightblue;
}

h1 {
	font-family: courier;
	font-size: 275%;
	color: red;
}

h2 {
	font-family: arial;
	font-size: 250%;
	color: darkred;
}

p{
	font-size: large;
}

/*Style for About Me page*/
.basics{
	border: 5px solid red;
	border-style: outset;
	padding: 15px;
	background-image: linear-gradient(to bottom right, red, lightblue);
}

.profile img{
	width: 300px;
	padding: 10px;
	margin: 10px;
}

.bvb img{
	width: 250px;
}

/*Style for Resume page*/

.resume {
	font-family: 'Oswald', san-serif;
	
}

/*Style for Travel page*/

.cities{
	padding: 1em;
	margin: 1em;
	color: white;
	font-size: 170%;
	background-image: linear-gradient(to bottom right, red, lightblue);
}

.glidingpic img{
	width:50%;
} 

.adthoughts {
	border: 1em solid red;
	padding: 1em;
}