body {
	background-color: lightblue;
}

h1 {
	font-family: courier;
	font-size: 275%;
	color: red;
}

h2 {
	font-family: helvetica;
	font-size: 250%;
	color: darkred;
}

.cities{
	padding: 50px;
	margin: 50px;
	color: red;
	font-size: 170%;
	background-color:yellow;
}

.glidingpic img{
	width:100%;
} 

.nav{
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
}