.nav {
	background-color: white;
	font-size: 125%;
	font-family: arial;
	border: 1px solid #ccc;
	border-width: 1px 0;
	list-style: none;
	text-align: center;
}

.nav li {
	display: inline;
}

.nav a {
	display: inline-block;
	padding: 15px;
}

wrapper {
	margin-right: auto;
	margin-left: auto;
	width: 960 px;
}

body {
	background-color: lightblue;
}

h1 {
	text-align: center;
	font-family: courier;
	font-size: 300%;
	color: red;
}

h2 {
	text-align: center;
	font-family: arial;
	font-size: 250%;
	color: darkred;
}

h3 {
	font-family: arial;
	font-size: 150%;
	color: darkred;
}

dl {
	font-size: 100%;
}

p {
	font-size: 25px;
}


/*Style for About Me page*/

.basics {
	margin: 100px;
	text-align: center;
	border: 5px solid red;
	border-style: outset;
	background-image: linear-gradient(to bottom right, red, lightblue);
}

.profile img {
	width: 300px;
	padding: 10px;
	margin: 10px;
	border: 5px solid red;
	border-style: outset;
	background-image: linear-gradient(to bottom right, red, lightblue);
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.academic {
	font-size: 25px;
	border: 5px dotted darkred;
}

.personal {
	font-size: 25px;
	border: 5px dotted darkred;
}

.bvb img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 250px;
}


/*Style for Resume page*/

.resume {
	font-family: 'Oswald', san-serif;
}

.contact {
	text-align: center;
	border: 5px outset darkred;
	color: darkred;
}


/*Style for Travel page*/

.cities {
	padding: 1em;
	margin: 1em;
	color: white;
	font-size: 170%;
	background-image: linear-gradient(to bottom right, red, lightblue);
	float: left;
}

.glidingpic img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.adthoughts {
	border: 1em solid red;
	padding: 1em;
}